@use "../global" as *;

.breadcrumbs {
  padding: 33px 0px 31px 0px;
  display: flex;
  flex-wrap: wrap;

  font: $text-d-pi4;
  color: white;

  &__container {
    display: flex;
    flex-wrap: wrap;

    & p {
      padding: 0px 5px;
    }
  }

  &__item {
    .breadcrumbs__link {
      color: white;
    }
    .breadcrumbs__link.dark {
      color: black;
    }

    &:last-child {
      .breadcrumbs__link {
        color: $bt-orange-pressed;
      }
    }

    &:not(:last-child)::after {
      content: "/";
      cursor: auto;
      pointer-events: none;
      margin: 0 5px;
    }
  }
}
