@use "../global" as *;

.slider {
  width: 100%;
  position: relative;
  display: flex;

  &__left,
  &__right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 43px;
    height: 43px;

    z-index: 10;
  }

  &__left {
    left: 0;
  }
  &__right {
    right: 0;
  }
}
