@use "./colors" as *;
@use "./typography" as *;
@use "./screenSize" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  ul,
  li,
  a {
    list-style: none;
    text-decoration: none;
  }
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: $bg-white;
}

.container {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  //padding: 0 40px;
}

  @media (max-width: $breakpoint_xxl) {
    .container{
      padding: 0 40px;
    }
  }

  @media (max-width: $breakpoint_md) {
    .container{
      padding: 0 20px;
    }
  }


*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:hover {
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:active {
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #8a0e0c;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #8a0e0c;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #8a0e0c;
}
