

//buttons-colors
$bt-orange-normal: #F57520;
$bt-orange-hover: #F57F2A;
$bt-orange-pressed: #E1610C;
$bt-gray: #E5E5E5;
$bt-black: #101010;

//dropdown
$dd-gray: #F8F8F8;

//background-colours
$bg-white: #FFFFFF;
$bg-black: #131313;

//text-colours
$tx-white: #FFFFFF;
$tx-black: #000000;
$tx-orange: #F57F2A;

//colors

$white-1: #FFFFFF;

$black-1: #101010;
$black-2: #131313;
$black-3: #34312D;
$black-4: #2E2E2E;

$gray-1: #4C4C4C;
$gray-2: #777777;
$gray-3: #B3B3B3;
$gray-4: #E5E5E5;

$orange-1: #F57520;
$orange-2: #EB6B16;
$orange-3: #E1610C;
$orange-4: #D75702;

$red: #F53A20;
$green: #4D932C;
