// font-family
$titles-font: "Inter", sans-serif;
$text-font: 'Bebas Neue', sans-serif;


//font-size-desktop
$title-d-h1: 400 110px/135.3px 'Bebas Neue', sans-serif;
$title-d-h2: 400 64px/78.72px 'Bebas Neue', sans-serif;
$title-d-h3: 400 40px/49.2px 'Bebas Neue', sans-serif;
$title-d-hi1: 500 40px/64px "Inter", sans-serif;
$title-d-hi2: 500 24px/38.4px "Inter", sans-serif;
$title-d-hi3: 500 20px/32px "Inter", sans-serif;
$title-d-hi4: 500 18px/28.8px "Inter", sans-serif;
$title-d-hi5: 300 18px/28.8px "Inter", sans-serif;
$text-d-btn: 500 16px/19.68px "Inter", sans-serif;
$text-d-pi1: 400 16px/25.6px "Inter", sans-serif;
$text-d-pi2: 300 16px/25.6px "Inter", sans-serif;
$text-d-pi3: 400 12px/19.2px "Inter", sans-serif;
$text-d-pi4: 400 14px/22.4px "Inter", sans-serif;
$text-d-pi5: 400 14px/28px "Inter", sans-serif;
$text-d-pi6: 400 12px/19.2px "Inter", sans-serif;
$text-d-pi7: 500 12px/14.76px "Inter", sans-serif;

//font-size-mobile
$title-m-h1: 400 60px/73.8px 'Bebas Neue', sans-serif;
$title-m-h2: 400 50px/52.5px'Bebas Neue', sans-serif;
$title-m-h3: 400 32px/33.6px 'Bebas Neue', sans-serif;
$title-m-hi1: 500 40px/64px "Inter", sans-serif;
$title-m-hi2: 500 24px/38.4px "Inter", sans-serif;
$title-m-hi3: 500 20px/32px "Inter", sans-serif;
$title-m-hi4: 500 18px/28.8px "Inter", sans-serif;
$title-m-hi5: 300 18px/28.8px "Inter", sans-serif;
$text-m-btn: 500 16px/19.68px "Inter", sans-serif;
$text-m-pi1: 400 16px/25.6px "Inter", sans-serif;
$text-m-pi2: 300 16px/25.6px "Inter", sans-serif;
$text-m-pi3: 400 12px/19.2px "Inter", sans-serif;
$text-m-pi4: 400 14px/22.4px "Inter", sans-serif;
$text-m-pi5: 400 14px/28px "Inter", sans-serif;
$text-m-pi6: 400 12px/19.2px "Inter", sans-serif;
$text-m-pi7: 500 12px/14.76px "Inter", sans-serif;