* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* ul, * li, * a {
  list-style: none;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: #FFFFFF;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:hover {
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:active {
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #8A0E0C;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #8A0E0C;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #8A0E0C;
}

.standart-btn {
  color: #FFFFFF;
  font: 500 16px/19.68px "Inter", sans-serif;
  background: #F57520;
  width: 180px;
  height: 52px;
  border-radius: 10px;
}
.standart-btn:hover {
  background: #F57F2A;
}
.standart-btn:active {
  background: #E1610C;
}

.title {
  background-image: url(/src/images/home/main.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.title .container .content .title-box {
  padding-top: 160px;
}
.title .container .content .title-box h1 {
  font: 400 110px/135.3px "Bebas Neue", sans-serif;
  color: #FFFFFF;
}
.title .container .content .title-box p {
  font: 300 18px/28.8px "Inter", sans-serif;
  color: #FFFFFF;
  margin: 40px 0;
  max-width: 50%;
}

@media (max-width: 1200px) {
  .title .container {
    padding: 0 40px;
  }
}
@media (max-width: 576px) {
  .title {
    background-position: 63%;
  }
  .title .container {
    padding: 0 20px;
  }
  .title .container .content .title-box h1 {
    font: 400 60px/73.8px "Bebas Neue", sans-serif;
  }
  .title .container .content .title-box p {
    max-width: 100%;
  }
}
.submenu {
  display: flex;
  width: 100%;
  height: 212px;
  position: relative;
}
.submenu__wrapper {
  position: absolute;
  height: 212px;
  padding: 48px;
}
.submenu__wrapper:nth-child(1) {
  background-color: #101010;
  width: 37.5%;
  left: 0;
}
.submenu__wrapper:nth-child(1):hover {
  border-radius: 0px 10px 10px 0px;
}
.submenu__wrapper:nth-child(2) {
  background-color: #131313;
  width: 25%;
  left: 37.5%;
}
.submenu__wrapper:nth-child(2):hover {
  border-radius: 10px;
}
.submenu__wrapper:nth-child(3) {
  background-color: #2E2E2E;
  width: 37.5%;
  right: 0;
}
.submenu__wrapper:nth-child(3):hover {
  border-radius: 10px 0px 0px 10px;
}
.submenu__wrapper:hover {
  height: 276px;
  top: -32px;
}
.submenu__wrapper:hover a {
  display: block;
}
.submenu__wrapper p {
  font: 500 24px/38.4px "Inter", sans-serif;
  color: #FFFFFF;
  padding-bottom: 40px;
}
.submenu__wrapper a {
  display: none;
  font: 500 16px/19.68px "Inter", sans-serif;
  color: #F57520;
}

@media (max-width: 1024px) {
  .submenu__wrapper:nth-child(1) {
    width: 33%;
    left: 0;
  }
  .submenu__wrapper:nth-child(2) {
    width: 34%;
    left: 33%;
  }
  .submenu__wrapper:nth-child(3) {
    width: 33%;
    right: 0;
  }
}
@media (max-width: 767px) {
  .submenu {
    display: flex;
    width: unset;
    height: 180px;
    position: static;
    overflow: scroll;
    -ms-overflow-style: none;
  }
  .submenu::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .submenu__wrapper {
    position: relative;
    height: 100%;
    min-width: 260px;
    padding: 20px 24px 25px 33px;
  }
  .submenu__wrapper:nth-child(1), .submenu__wrapper:nth-child(2), .submenu__wrapper:nth-child(3) {
    background-color: #101010;
    border: unset;
    width: unset;
    left: unset;
  }
  .submenu__wrapper:nth-child(1):hover, .submenu__wrapper:nth-child(2):hover, .submenu__wrapper:nth-child(3):hover {
    border-radius: unset;
  }
  .submenu__wrapper:hover {
    height: unset;
    top: unset;
  }
  .submenu__wrapper:hover a {
    display: unset;
  }
  .submenu__wrapper p {
    font: 300 18px/28.8px "Inter", sans-serif;
    color: #FFFFFF;
    padding-bottom: 0px;
  }
  .submenu__wrapper a {
    display: block;
    position: absolute;
    bottom: 20px;
    font: 500 16px/19.68px "Inter", sans-serif;
    color: #F57520;
  }
}
.ticker {
  display: flex;
  overflow: hidden;
}
.ticker__logo-block {
  display: flex;
  align-items: center;
  height: 206px;
  width: 4746px;
  margin-top: 80px;
  animation: ticker 60s linear infinite;
}
.ticker__logo-block img {
  height: 75px;
  margin: 39.5px 40px;
}

@keyframes ticker {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-4746px);
  }
}
@media (max-width: 767px) {
  .ticker__logo-block {
    height: 120px;
    width: 2516.5px;
    margin-top: 0px;
  }
  .ticker__logo-block img {
    height: 43.7px;
    margin: 32.5px 12px;
  }
  @keyframes ticker {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-2516.5px);
    }
  }
}
.item-bicycle {
  position: relative;
  height: 423px;
  width: 400px;
  padding: 16px;
  border-radius: 10px;
}
.item-bicycle:hover {
  background-color: #FFFFFF;
  box-shadow: 2px 9px 21px 0px rgba(186, 186, 186, 0.2);
  height: 529px;
}
.item-bicycle:hover .item-bicycle__btn,
.item-bicycle:hover .standart-btn {
  display: block;
}
.item-bicycle:hover .item-bicycle__btn {
  position: absolute;
  bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 368px;
}
.item-bicycle:hover .item-bicycle__btn p {
  font: 500 16px/19.68px "Inter", sans-serif;
  margin-left: 4px;
}
.item-bicycle:hover .inactive {
  background-color: #B3B3B3;
  cursor: not-allowed;
}
.item-bicycle__flag {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px 0 10px 0px;
}
.item-bicycle__availability-true, .item-bicycle__availability-false {
  float: right;
  font: 400 16px/25.6px "Inter", sans-serif;
}
.item-bicycle__availability-true {
  color: #4D932C;
}
.item-bicycle__availability-false {
  color: #F53A20;
}
.item-bicycle__foto {
  width: 368px;
}
.item-bicycle__fullName {
  position: absolute;
  top: 321px;
  font: 300 18px/28.8px "Inter", sans-serif;
  letter-spacing: 1%;
}
.item-bicycle__price {
  position: absolute;
  top: 403px;
  font: 500 16px/19.68px "Inter", sans-serif;
  color: #777777;
}
.item-bicycle__blockPrice {
  position: absolute;
  top: 403px;
  display: flex;
  align-items: flex-end;
}
.item-bicycle__blockPrice_sale {
  font: 500 16px/19.68px "Inter", sans-serif;
  color: #777777;
  margin-right: 8px;
}
.item-bicycle__blockPrice_price {
  font: 500 12px/14.76px "Inter", sans-serif;
  text-decoration: line-through;
  color: #B3B3B3;
}
.item-bicycle__btn,
.item-bicycle .standart-btn {
  display: none;
}/*# sourceMappingURL=styles.css.map */