* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* ul,
* li,
* a {
  list-style: none;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: #FFFFFF;
}

.container {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 1290px) {
  .container {
    padding: 0 40px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
}
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:hover {
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:active {
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #F57520;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #F57520;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #F57520;
}

.standart-btn {
  color: #FFFFFF;
  font: 500 16px/19.68px "Inter", sans-serif;
  background: #F57520;
  width: 180px;
  height: 52px;
  border-radius: 10px;
}
.standart-btn:hover {
  background: #F57F2A;
}
.standart-btn:active {
  background: #E1610C;
}

.navbar {
  position: absolute;
  width: 100%;
  z-index: 20;
}
.navbar .container .content {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .container .content .bike-logo {
  cursor: pointer;
}
.navbar .container .content .nav-menu {
  display: flex;
  gap: 32px;
  color: #FFFFFF;
  font: 400 12px/19.2px "Inter", sans-serif;
  text-transform: uppercase;
}
.navbar .container .content .nav-menu li {
  cursor: pointer;
  transition: all 0.3s;
}
.navbar .container .content .nav-menu li:hover {
  color: #F57F2A;
}
.navbar .container .content .nav-menu li:first-child {
  color: #F57F2A;
}
.navbar .container .content .user-menu {
  color: #FFFFFF;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navbar .container .content .user-menu div {
  cursor: pointer;
  transition: all 0.3s;
}
.navbar .container .content .user-menu div:hover {
  color: #F57F2A;
}
.navbar .container .content .user-menu .burger-menu {
  margin-left: 58px;
  color: #FFFFFF;
}

@media (max-width: 1290px) {
  .navbar .container .content .nav-menu {
    display: none;
  }
}
@media (max-width: 576px) {
  .navbar .container .content .user-menu .burger-menu {
    margin-left: 15px;
  }
}
.sidebar {
  position: fixed;
  right: -200%;
  top: 0;
  background: #FFFFFF;
  width: 448px;
  height: 100vh;
  transition: all 0.5s ease;
  z-index: 30;
  overflow: scroll;
  cursor: auto;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.sidebar .container {
  width: 100%;
  position: relative;
}
.sidebar .container .content .bike-logo-black {
  display: none;
}
.sidebar .container .content .close-btn {
  position: absolute;
  right: 40px;
  top: 40px;
  font-size: 25px;
  cursor: pointer;
}
.sidebar .container .content .subnav-menu {
  display: none;
}
.sidebar .container .content .box-category {
  display: none;
}
.sidebar .container .content .info-box {
  margin-left: 40px;
  margin-top: 104px;
}
.sidebar .container .content .info-box h3 {
  text-transform: uppercase;
  color: #000000;
  font: 400 40px/49.2px "Bebas Neue", sans-serif;
  margin-bottom: 24px;
}
.sidebar .container .content .info-box p {
  margin-top: 24px;
  color: #000000;
  font: 500 18px/28.8px "Inter", sans-serif;
  cursor: pointer;
  transition: all 0.3s;
}
.sidebar .container .content .info-box p:hover {
  color: #F57F2A;
}

.active {
  right: 0;
}

@media (max-width: 1290px) {
  .sidebar .container .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .sidebar .container .content .bike-logo-black {
    display: block;
    position: absolute;
    top: 40px;
    width: 64.05px;
    cursor: pointer;
  }
  .sidebar .container .content .bike-logo-black img {
    width: 100%;
  }
  .sidebar .container .content .subnav-menu {
    display: block;
    margin-top: 116px;
    width: 100%;
  }
  .sidebar .container .content .subnav-menu .trade-in-btn {
    width: 100%;
    padding: 16px;
    border-radius: 10px;
    background: #F8F8F8;
    font: 500 18px/28.8px "Inter", sans-serif;
    color: #F57F2A;
    margin-bottom: 6px;
    text-transform: uppercase;
  }
  .sidebar .container .content .subnav-menu .dropdown-sidebar {
    margin-bottom: 6px;
  }
  .sidebar .container .content .subnav-menu .dropdown-sidebar .box-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px;
    border-radius: 10px;
    background: #F8F8F8;
    font: 500 18px/28.8px "Inter", sans-serif;
    color: #000000;
  }
  .sidebar .container .content .subnav-menu .dropdown-sidebar .box-option .chevron-icon {
    width: 18px;
    height: 18px;
    transition: all 0.3s;
  }
  .sidebar .container .content .subnav-menu .dropdown-sidebar .active-option {
    background: #F57F2A;
    color: #FFFFFF;
  }
  .sidebar .container .content .subnav-menu .dropdown-sidebar .active-option .chevron-icon {
    transform: rotate(180deg);
  }
  .sidebar .container .content .subnav-menu .dropdown-sidebar .box-category {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font: 400 16px/25.6px "Inter", sans-serif;
    color: #000000;
    max-height: 0;
    transition: 0.4s all;
    overflow: hidden;
  }
  .sidebar .container .content .subnav-menu .dropdown-sidebar .active-category {
    padding: 24px 16px;
    max-height: 1200px;
    transition: 0.4s;
  }
  .sidebar .container .content .info-box {
    margin-left: 0;
    margin-top: 0;
  }
  .sidebar .container .content .info-box h3 {
    display: none;
  }
  .sidebar .container .content .info-box p {
    margin-top: 16px;
  }
}
@media (max-width: 576px) {
  .sidebar {
    width: 100%;
  }
}
.title {
  background-image: url(/src/images/home/main.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 875px;
  width: 100%;
}
.title .container .content .title-box {
  padding-top: 160px;
}
.title .container .content .title-box h1 {
  font: 400 110px/135.3px "Bebas Neue", sans-serif;
  color: #FFFFFF;
}
.title .container .content .title-box p {
  font: 300 18px/28.8px "Inter", sans-serif;
  color: #FFFFFF;
  margin: 40px 0;
  max-width: 50%;
}

@media (max-width: 1290px) {
  .title .container {
    padding: 0 40px;
  }
}
@media (max-width: 576px) {
  .title {
    background-position: 63%;
  }
  .title .container {
    padding: 0 20px;
  }
  .title .container .content .title-box {
    padding-top: 343px;
  }
  .title .container .content .title-box h1 {
    font: 400 60px/73.8px "Bebas Neue", sans-serif;
  }
  .title .container .content .title-box p {
    max-width: 100%;
  }
}
.submenu {
  display: flex;
  width: 100%;
  height: 212px;
  position: relative;
}
.submenu__wrapper {
  position: absolute;
  height: 212px;
  padding: 48px;
}
.submenu__wrapper:nth-child(1) {
  background-color: #101010;
  width: 37.5%;
  left: 0;
  transition: 0.4s;
}
.submenu__wrapper:nth-child(1):hover {
  border-radius: 0px 10px 10px 0px;
}
.submenu__wrapper:nth-child(2) {
  background-color: #131313;
  width: 25%;
  left: 37.5%;
}
.submenu__wrapper:nth-child(2):hover {
  border-radius: 10px;
}
.submenu__wrapper:nth-child(3) {
  background-color: #2E2E2E;
  width: 37.5%;
  right: 0;
}
.submenu__wrapper:nth-child(3):hover {
  border-radius: 10px 0px 0px 10px;
}
.submenu__wrapper:hover {
  height: 276px;
  top: -32px;
}
.submenu__wrapper:hover a {
  display: block;
}
.submenu__wrapper p {
  font: 500 24px/38.4px "Inter", sans-serif;
  color: #FFFFFF;
  padding-bottom: 40px;
}
.submenu__wrapper a {
  display: none;
  font: 500 16px/19.68px "Inter", sans-serif;
  color: #F57520;
}

@media (max-width: 1024px) {
  .submenu__wrapper:nth-child(1) {
    width: 33%;
    left: 0;
  }
  .submenu__wrapper:nth-child(2) {
    width: 34%;
    left: 33%;
  }
  .submenu__wrapper:nth-child(3) {
    width: 33%;
    right: 0;
  }
}
@media (max-width: 767px) {
  .submenu {
    display: flex;
    width: unset;
    height: 180px;
    position: static;
    overflow: scroll;
    -ms-overflow-style: none;
  }
  .submenu::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .submenu__wrapper {
    position: relative;
    height: 100%;
    min-width: 260px;
    padding: 20px 24px 25px 33px;
  }
  .submenu__wrapper:nth-child(1), .submenu__wrapper:nth-child(2), .submenu__wrapper:nth-child(3) {
    background-color: #101010;
    border: unset;
    width: unset;
    left: unset;
  }
  .submenu__wrapper:nth-child(1):hover, .submenu__wrapper:nth-child(2):hover, .submenu__wrapper:nth-child(3):hover {
    border-radius: unset;
  }
  .submenu__wrapper:hover {
    height: unset;
    top: unset;
  }
  .submenu__wrapper:hover a {
    display: unset;
  }
  .submenu__wrapper p {
    font: 300 18px/28.8px "Inter", sans-serif;
    color: #FFFFFF;
    padding-bottom: 0px;
  }
  .submenu__wrapper a {
    display: block;
    position: absolute;
    bottom: 20px;
    font: 500 16px/19.68px "Inter", sans-serif;
    color: #F57520;
  }
}
.ticker {
  display: flex;
  overflow: hidden;
}
.ticker__logo-block {
  display: flex;
  align-items: center;
  height: 206px;
  width: 4746px;
  margin-top: 80px;
  animation: ticker 60s linear infinite;
}
.ticker__logo-block img {
  height: 75px;
  margin: 39.5px 40px;
}

@keyframes ticker {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-4746px);
  }
}
@media (max-width: 767px) {
  .ticker__logo-block {
    height: 120px;
    width: 2516.5px;
    margin-top: 0px;
  }
  .ticker__logo-block img {
    height: 43.7px;
    margin: 32.5px 12px;
  }
  @keyframes ticker {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-2516.5px);
    }
  }
}
.item-bicycle.bg-white {
  background-color: #FFFFFF;
}

.item-bicycle__btn.inactive {
  background-color: #B3B3B3;
}

.item-bicycle {
  position: relative;
  padding: 16px;
  height: 443px;
  min-width: 400px;
  border-radius: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: #FFFFFF;
  z-index: 10;
}
.item-bicycle:hover {
  background-color: #FFFFFF;
  box-shadow: 2px 9px 21px 0px rgba(186, 186, 186, 0.2);
  height: 529px;
  z-index: 200;
}
.item-bicycle:hover .item-bicycle__btn,
.item-bicycle:hover .standart-btn {
  display: block;
}
.item-bicycle:hover .item-bicycle__btn {
  position: absolute;
  bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 368px;
  z-index: 100;
}
.item-bicycle:hover .item-bicycle__btn p {
  font: 500 16px/19.68px "Inter", sans-serif;
  margin-left: 4px;
}
.item-bicycle:hover .inactive {
  background-color: #B3B3B3;
  cursor: not-allowed;
}
.item-bicycle__flag {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px 0 10px 0px;
}
.item-bicycle__availability-true, .item-bicycle__availability-false {
  float: right;
  font: 400 16px/25.6px "Inter", sans-serif;
}
.item-bicycle__availability-true {
  color: #4D932C;
}
.item-bicycle__availability-false {
  color: #F53A20;
}
.item-bicycle__foto {
  padding-top: 10px;
  max-width: 368px;
}
.item-bicycle__fullName {
  position: absolute;
  top: 321px;
  font: 300 18px/28.8px "Inter", sans-serif;
  letter-spacing: 1%;
}
.item-bicycle__price {
  position: absolute;
  top: 403px;
  font: 500 16px/19.68px "Inter", sans-serif;
  color: #777777;
}
.item-bicycle__blockPrice {
  position: absolute;
  top: 403px;
  display: flex;
  align-items: flex-end;
}
.item-bicycle__blockPrice_sale {
  font: 500 16px/19.68px "Inter", sans-serif;
  color: #777777;
  margin-right: 8px;
}
.item-bicycle__blockPrice_price {
  font: 500 12px/14.76px "Inter", sans-serif;
  text-decoration: line-through;
  color: #B3B3B3;
}
.item-bicycle__btn,
.item-bicycle .standart-btn {
  display: none;
}

@media (max-width: 767px) {
  .item-bicycle {
    padding: 16px;
    height: 529px;
  }
  .item-bicycle__availability-true, .item-bicycle__availability-false {
    font: 400 16px/25.6px "Inter", sans-serif;
  }
  .item-bicycle__fullName {
    font: 300 18px/28.8px "Inter", sans-serif;
  }
  .item-bicycle__price {
    font: 500 16px/19.68px "Inter", sans-serif;
  }
  .item-bicycle__blockPrice_sale {
    font: 500 16px/19.68px "Inter", sans-serif;
  }
  .item-bicycle__blockPrice_price {
    font: 500 12px/14.76px "Inter", sans-serif;
  }
  .item-bicycle .item-bicycle__btn {
    position: absolute;
    bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 368px;
    z-index: 100;
  }
  .item-bicycle .item-bicycle__btn p {
    font: 500 16px/19.68px "Inter", sans-serif;
    margin-left: 4px;
  }
}
@media (max-width: 576px) {
  .item-bicycle {
    min-width: 100%;
  }
  .item-bicycle:hover {
    background-color: #FFFFFF;
    box-shadow: 2px 9px 21px 0px rgba(186, 186, 186, 0.2);
    height: 529px;
  }
  .item-bicycle:hover .item-bicycle__btn {
    width: calc(100% - 32px);
  }
  .item-bicycle:hover .inactive {
    background-color: #B3B3B3;
    cursor: not-allowed;
  }
  .item-bicycle__foto {
    max-width: 100%;
    max-height: 220px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
  }
  .item-bicycle__fullName {
    top: 270px;
    font: 300 18px/28.8px "Inter", sans-serif;
  }
  .item-bicycle .item-bicycle__btn {
    width: calc(100% - 32px);
  }
}
.items-bicycle__btn .white {
  color: #FFFFFF;
}

.items-bicycle {
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.items-bicycle__block {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(3, 443px);
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 16px;
}
.items-bicycle__btn {
  display: flex;
  justify-content: center;
  margin: 48px 0px 80px 0px;
  font: 400 12px/19.2px "Inter", sans-serif;
}
.items-bicycle__btn.white-text {
  color: #FFFFFF;
}

@media (max-width: 1290px) {
  .items-bicycle__block {
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(5, 443px);
  }
}
@media (max-width: 1024px) {
  .items-bicycle__block {
    grid-template-columns: repeat(1, 400px);
    grid-template-rows: repeat(9, 443px);
  }
}
@media (max-width: 767px) {
  .items-bicycle__block {
    grid-template-rows: repeat(9, 529px);
  }
}
@media (max-width: 576px) {
  .items-bicycle__block {
    grid-template-columns: repeat(1, 1fr);
  }
}
.new-bicycles {
  position: relative;
  margin-top: 66px;
  height: 100%;
  background-color: #E5E5E5;
}
.new-bicycles h2 {
  padding-top: 80px;
  padding-bottom: 80px;
  font: 400 64px/78.72px "Bebas Neue", sans-serif;
}

@media (max-width: 1024px) {
  .new-bicycles {
    margin-top: 48px;
    background-color: #E5E5E5;
  }
  .new-bicycles h2 {
    padding-top: 40px;
    padding-bottom: 32px;
    font: 400 64px/78.72px "Bebas Neue", sans-serif;
  }
}
.winter-bicycles {
  position: relative;
  background-image: url(/src/images/home/winter-bicycles-bg.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.winter-bicycles .container h2 {
  padding-top: 80px;
  color: #FFFFFF;
  font: 400 64px/78.72px "Bebas Neue", sans-serif;
}
.winter-bicycles__items {
  height: 100%;
  background-color: #34312D;
  float: right;
}

@media (max-width: 1290px) {
  .winter-bicycles {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 576px) {
  .winter-bicycles__items {
    right: 20px;
    width: calc(100% - 40px);
  }
}
.pagination {
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination ul {
  display: flex;
  margin: 0px 10px;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.pagination ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 46px;
  border: 1px solid #B3B3B3;
  border-radius: 10px;
}
.pagination ul .active {
  background-color: #F57520;
  border-color: #F57520;
}
.pagination ul .active a {
  color: #FFFFFF;
}

.carousel {
  height: 529px;
  width: 1280px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.carousel__window {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.carousel__all-pages-container {
  height: 100%;
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  transition: all 2s ease;
}
.carousel__arrow-left, .carousel__arrow-right {
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 43px;
  height: 43px;
  cursor: pointer;
}
.carousel__arrow-left {
  left: 0;
}
.carousel__arrow-right {
  right: 0;
}

@media (max-width: 1290px) {
  .carousel {
    width: 840px;
  }
}
@media (max-width: 1024px) {
  .carousel {
    width: 400px;
  }
}
@media (max-width: 576px) {
  .carousel {
    width: 100%;
  }
}
.mountain-bicycles {
  height: 907px;
  width: 100%;
  background-color: #E5E5E5;
}
.mountain-bicycles .container h2 {
  padding-top: 80px;
  padding-bottom: 80px;
  font: 400 64px/78.72px "Bebas Neue", sans-serif;
}
.mountain-bicycles .container .mountain-bicycles__main {
  display: flex;
  justify-content: space-between;
}
.mountain-bicycles .container .mountain-bicycles__main .mountain-bicycles__main-col1 {
  width: 620px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.mountain-bicycles .container .mountain-bicycles__main .mountain-bicycles__main-col1 .mountain-bicycles__item {
  position: relative;
  padding: 60px 36px 32px 24px;
  width: 302px;
  height: 233px;
  border-radius: 10px;
  background-color: #34312D;
}
.mountain-bicycles .container .mountain-bicycles__main .mountain-bicycles__main-col1 .mountain-bicycles__item img {
  position: absolute;
  top: 40px;
  right: 30px;
}
.mountain-bicycles .container .mountain-bicycles__main .mountain-bicycles__main-col1 .mountain-bicycles__item h4 {
  font: 500 20px/32px "Inter", sans-serif;
  color: #FFFFFF;
}
.mountain-bicycles .container .mountain-bicycles__main .mountain-bicycles__main-col1 .mountain-bicycles__item p {
  padding-top: 40px;
  font: 400 16px/25.6px "Inter", sans-serif;
  color: #FFFFFF;
}
.mountain-bicycles .container .mountain-bicycles__main .mountain-bicycles__main-col2 {
  width: 510px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mountain-bicycles .container .mountain-bicycles__main .mountain-bicycles__main-col2 img {
  border-radius: 10px;
}
.mountain-bicycles .container .mountain-bicycles__main .mountain-bicycles__main-col2 p {
  font: 300 16px/25.6px "Inter", sans-serif;
  color: #101010;
}
.mountain-bicycles .container .mountain-bicycles__main .mountain-bicycles__main-col2 .mountain-bicycles__btn {
  font: 500 16px/19.68px "Inter", sans-serif;
  color: #FFFFFF;
}

@media (max-width: 1290px) {
  .mountain-bicycles {
    height: 100%;
    padding-bottom: 40px;
  }
  .mountain-bicycles .container .mountain-bicycles__main {
    flex-direction: column;
    align-items: center;
  }
  .mountain-bicycles .container .mountain-bicycles__main .mountain-bicycles__main-col2 {
    margin-top: 80px;
    width: 620px;
    height: 500px;
  }
}
@media (max-width: 767px) {
  .mountain-bicycles .container .mountain-bicycles__main .mountain-bicycles__main-col1 {
    padding: 0px 20px;
    width: 100vw;
    flex-wrap: nowrap;
    overflow: scroll;
    -ms-overflow-style: none;
  }
  .mountain-bicycles .container .mountain-bicycles__main .mountain-bicycles__main-col1::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .mountain-bicycles .container .mountain-bicycles__main .mountain-bicycles__main-col1 .mountain-bicycles__item {
    min-width: 302px;
    height: 233px;
  }
  .mountain-bicycles .container .mountain-bicycles__main .mountain-bicycles__main-col2 {
    margin-top: 32px;
    width: 100vw;
  }
  .mountain-bicycles .container .mountain-bicycles__main .mountain-bicycles__main-col2 img {
    max-width: 100vw;
  }
  .mountain-bicycles .container .mountain-bicycles__main .mountain-bicycles__main-col2 p {
    margin: 0 20px;
  }
  .mountain-bicycles .container .mountain-bicycles__main .mountain-bicycles__main-col2 .mountain-bicycles__btn {
    margin: 0 20px;
  }
}
@media (max-width: 576px) {
  .mountain-bicycles .container h2 {
    font: 400 50px/52.5px "Bebas Neue", sans-serif;
    padding-top: 40px;
    padding-bottom: 32px;
  }
  .mountain-bicycles .container .mountain-bicycles__main .mountain-bicycles__main-col1 .mountain-bicycles__item h4 {
    font: 500 20px/32px "Inter", sans-serif;
  }
  .mountain-bicycles .container .mountain-bicycles__main .mountain-bicycles__main-col1 .mountain-bicycles__item p {
    font: 400 16px/25.6px "Inter", sans-serif;
  }
  .mountain-bicycles .container .mountain-bicycles__main .mountain-bicycles__main-col2 {
    height: 430px;
  }
  .mountain-bicycles .container .mountain-bicycles__main .mountain-bicycles__main-col2 p {
    font: 300 16px/25.6px "Inter", sans-serif;
  }
  .mountain-bicycles .container .mountain-bicycles__main .mountain-bicycles__main-col2 .mountain-bicycles__btn {
    font: 500 16px/19.68px "Inter", sans-serif;
  }
}
.contacts-section {
  height: 100%;
}
.contacts-section .container h2 {
  padding-bottom: 80px;
  font: 400 64px/78.72px "Bebas Neue", sans-serif;
}
.contacts-section .container .contacts-section__map {
  width: 100vw;
}

@media (max-width: 767px) {
  .contacts-section .container h2 {
    padding-bottom: 24px;
    font: 400 50px/52.5px "Bebas Neue", sans-serif;
  }
}
.contacts {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contacts__item {
  display: flex;
}
.contacts__item img {
  width: 32px;
  height: 32px;
  margin-right: 16px;
}
.contacts__item-text {
  font: 300 16px/25.6px "Inter", sans-serif;
}

@media (max-width: 1290px) {
  .contacts {
    row-gap: 32px;
  }
  .contacts__item {
    width: 50%;
  }
  .contacts__item:nth-child(2n) {
    justify-content: flex-end;
  }
  .contacts__item:nth-child(2n) .contacts__item-text {
    width: 160px;
  }
}
@media (max-width: 767px) {
  .contacts {
    margin-top: 24px;
  }
  .contacts__item {
    width: 100%;
  }
  .contacts__item-text {
    font: 300 16px/25.6px "Inter", sans-serif;
  }
  .contacts__item:nth-child(2n) {
    justify-content: start;
  }
  .contacts__item:nth-child(2n) .contacts__item-text {
    width: unset;
  }
}/*# sourceMappingURL=styles.css.map */