@use "../global" as *;

.add-bicycle {
  width: 100%;

  .add-bicycle__header {
    height: $height_header;
    background-color: $bt-black;
  }

  .container {
    .add-bicycle__title {
      padding-top: 80px;
      padding-bottom: 48px;

      font: $title-d-h3;
      color: $black-1;
    }
  }
}
