@use "../global" as *;

.items-bicycle__btn .white {
  color: $white-1;
}

.items-bicycle {
  position: relative;
  width: 100%;
  padding-bottom: 52px;
  z-index: 10;
  display: flex;
  justify-content: center;

  // background-color: yellow;

  &__block {
    height: 100%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 10px;
  }

  &__left-arrow,
  &__right-arrow {
    z-index: 2;
    position: absolute;
    top: 226px;

    cursor: pointer;
  }

  &__left-arrow {
    left: 0;
  }

  &__right-arrow {
    right: 0;
  }

  &__btn {
    position: absolute;

    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);

    font: $text-d-pi3;
    z-index: 0;
  }
  &__btn.white-text {
    color: $white-1;
  }
}

@media (max-width: $breakpoint_xxl) {
  .items-bicycle {
    &__block {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      column-gap: 40px;
    }
  }
}
@media (max-width: $breakpoint_xl) {
  .items-bicycle {
    &__left-arrow,
    &__right-arrow {
      position: absolute;
      top: 226px;

      cursor: pointer;
    }
  }
}
@media (max-width: $breakpoint_md) {
  .items-bicycle {
    padding-bottom: 132px;
    &__block {
      justify-content: center;
    }
  }
}
@media (max-width: $breakpoint_sm) {
}
