@use "../global" as *;

.items-bicycle__btn .white {
  color: $white-1;
}

.items-bicycle {
  // position: relative;
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px; //___________?
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // background-color: yellow;

  &__block {
    // background-color: red;
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(3, 443px);
    column-gap: 40px;
    row-gap: 16px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    margin: 48px 0px 80px 0px;

    // position: absolute;

    // bottom: 20px;
    // left: 50%;
    // transform: translateX(-50%);

    font: $text-d-pi3;
  }
  &__btn.white-text {
    color: $white-1;
  }
}

@media (max-width: $breakpoint_xxl) {
  .items-bicycle {
    &__block {
      grid-template-columns: repeat(2, 400px);
      grid-template-rows: repeat(5, 443px);
    }
  }
}
@media (max-width: $breakpoint_xl) {
  .items-bicycle {
    &__block {
      grid-template-columns: repeat(1, 400px);
      grid-template-rows: repeat(9, 443px);
    }
  }
}
@media (max-width: $breakpoint_md) {
  .items-bicycle {
    // padding-bottom: 132px;
    &__block {
      grid-template-rows: repeat(9, 529px);
    }
  }
}
@media (max-width: $breakpoint_sm) {
  .items-bicycle {
    &__block {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
