@use "../global" as *;

.bicycle {
  width: 100%;
  .bicycle__header {
    height: $height_header;
    background-color: $bt-black;
  }

  .bicycle__loading {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
